<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&family=Raleway:wght@200&display=swap" rel="stylesheet">
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <h1>Player 1 choice!</h1>
        <a href= "/rock">Rock</a>
        <a href= "/paper">Paper</a>
        <a href= "/scissors">Scissors</a>

        

    </body>
</html>

http://localhost:5000/static/weather.jpeg