<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&family=Raleway:wght@200&display=swap" rel="stylesheet">
        <title>Player 2 Choice</title>
    </head>
    
    <body>
        <h1>Player 2 Choice!</h1>
        <a href= "{{choice_1}}/rock">Rock</a>
        <a href= "{{choice_1}}/paper">Paper</a>
        <a href= "{{choice_1}}/scissors">Scissors</a>

        

    </body>
</html>
