<html>
    <head>
        <title>Rock Paper Scissors</title>
    </head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&family=Raleway:wght@200&display=swap" rel="stylesheet">
    <body>
        
        <h1>How to Play</h1>
        <a href="/play">Play Game</a>

        <div>
            <p>Pick either Rock, Paper or Scissors. </p>
        </div>
        <img src="static/images/321.gif">

        

        


    </body>
</html>